[submodule "rt"]
	path = rt
	url = ../rt.git
[submodule "projf-explore"]
	path = projf-explore
	url = https://github.com/projf/projf-explore.git
[submodule "raybox-zero"]
	path = raybox-zero
	url = https://github.com/algofoogle/raybox-zero.git
[submodule "Silice"]
	path = Silice
	url = https://github.com/sylefeb/Silice.git
[submodule "verilog-buildingblocks"]
	path = verilog-buildingblocks
	url = ../verilog-buildingblocks.git
